
.row{
    margin-left: 20px;
    color: white;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    padding: 20px;
}



.row__poster{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
}

.row__posterLarge{
    max-height: 250px;
}

.row__poster:hover{
    transform: scale(1.08);
}
.swiper-container>ul{
    display: flex;
    list-style: none;
}
.swiper-container li{
    width: 150px !important;
}
.swiper-container li:not(:last-child){
    margin-right: 15px;
}